html, body {
  background: #FFF;
  color: #000;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 2em;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

li li {
  margin-left: 1em;
}

.bar-container {
  width: 100%;
  position: relative;
  height: 2em;
  background: #F0F0F0;
  margin-bottom: 0.5em;
  box-sizing: border-box;
}

.placeholder {
  border: 2px solid #F0F0F0;
  background: transparent;
}

.bar {
  height: 100%;
}

.bar-container, .bar {
  border-radius: 0.33em;
}

.bar {
  background: #6C6;
}

.error .bar {
  background: #F66;
}

.name, .placeholder-text {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.progress {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.placeholder-text {
  text-transform: uppercase;
  font-size: 80%;
  top: 0.6em;
  color: #C0C0C0;
}
